---
http_interactions:
- request:
    method: get
    uri: https://checkify.com.au/api/v1/abn?abn=26%20008%20672%20179
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '21'
    body:
      encoding: ASCII-8BIT
      string: '{"abn":"26008672179","abnFormatted":"26 008 672 179","acn":"008672179","acnFormatted":"008
        672 179","entityName":"BUNNINGS GROUP LIMITED","entityType":"Australian Public
        Company","abnDetails":{"active":true,"activeFrom":"1999-11-01","gst":"2000-07-01"},"addresses":[{"type":"serviceAddress","state":"VIC","postcode":"3121","activeFrom":"2022-01-13"}],"businessNames":["ADELAIDE
        TOOLS","Adelaide Trade Tools","BUNNINGS","BUNNINGS KITCHEN COLLECTIVE","BUNNINGS
        TRADE","BUNNINGS WAREHOUSE","Benchmark Tools","Bunnings Outdoors","CLEVER
        LIVING CO","CRAFTRIGHT","Discount Power Tools (S.A.)","Dynamic Pods","Dynamic
        Steel Frame","Electric Power Tool Services","GARDENBASICS","Gladesville Homemaker
        Centre","HARDWARE CAFE","NARELLAN HOMEMAKER CENTRE","ONYA Tools","Oaklands
        Mower Centre","Oaklands Road Mower Centre","THE KITCHEN COLLECTIVE CO","TOOL
        KIT DEPOT","Tools not Toys","big prawn","home@gladesville"]}'
  recorded_at: Sat, 05 Sep 2026 01:54:25 GMT
recorded_with: VCR 6.4.0
