---
http_interactions:
- request:
    method: get
    uri: https://checkify.com.au/api/v1/acn?acn=008%20672%20179
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '18'
    body:
      encoding: ASCII-8BIT
      string: '{"abn":"26008672179","abnFormatted":"26 008 672 179","acn":"008672179","acnFormatted":"008
        672 179","entityName":"BUNNINGS GROUP LIMITED","entityType":"Australian Public
        Company","abnDetails":{"activeFrom":"1999-11-01"},"acnDetails":{"active":true,"activeFrom":"1948-06-18","activeTo":"2027-06-30"},"addresses":[{"type":"registeredOffice","suburb":"PERTH","state":"WA","postcode":"6000"},{"type":"principalPlaceOfBusiness","suburb":"BURNLEY","state":"VIC","postcode":"3121"}],"formerNames":[{"name":"BUNNINGS
        LIMITED","activeFrom":"2005-08-26","activeTo":"2005-08-31"},{"name":"BUNNINGS
        PTY LTD","activeFrom":"2003-10-22","activeTo":"2005-08-25"},{"name":"BUNNINGS
        BUILDING SUPPLIES PTY. LTD.","activeFrom":"1985-05-22","activeTo":"2003-08-14"},{"name":"BUNNINGS
        (DONNELLY) PTY LTD","activeFrom":"1966-01-05","activeTo":"1985-05-21"},{"name":"DONNELLY
        SAW MILLS PTY. LTD.","activeFrom":null,"activeTo":"1966-01-04"}],"documents":[{"number":"6EMGJ2526","date":"2026-07-30","code":"484","title":"CHANGE
        TO COMPANY DETAILS","pages":2,"contents":[{"subCode":"484E","title":"APPOINTMENT
        OR CESSATION OF A COMPANY OFFICEHOLDER"}]},{"number":"6EJOZ7287","date":"2025-06-23","code":"484","title":"CHANGE
        TO COMPANY DETAILS","pages":2,"contents":[{"subCode":"484O","title":"CHANGES
        TO SHARE STRUCTURE"},{"subCode":"484G","title":"NOTIFICATION OF SHARE ISSUE"}]},{"number":"6EEBF1827","date":"2024-07-25","code":"484","title":"CHANGE
        TO COMPANY DETAILS","pages":2,"contents":[{"subCode":"484E","title":"APPOINTMENT
        OR CESSAT[...]
