---
http_interactions:
- request:
    method: get
    uri: https://checkify.com.au/api/v1/business-name?name=Bunnings
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '19'
    body:
      encoding: ASCII-8BIT
      string: '{"name":"BUNNINGS","availability":"Identical","shortDescription":"Name
        is not available. BUNNINGS is identical or nearly identical to a name already
        registered, or currently under application or review. This name will be rejected.
        We suggest you try another name. Identical or nearly identical name match
        BUNNINGS","objections":["RED 3"],"existingBusinessName":false}'
  recorded_at: Sat, 05 Sep 2026 01:56:45 GMT
recorded_with: VCR 6.4.0
