---
http_interactions:
- request:
    method: get
    uri: https://checkify.com.au/api/v1/business-activity?search=accounting
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '19'
    body:
      encoding: ASCII-8BIT
      string: '{"status":"success","count":18,"activities":[{"code":"7535","industryCode":"69320","fullName":"Accounting
        service"},{"code":"7536","industryCode":"69320","fullName":"Assignee accounting
        service"},{"code":"7542","industryCode":"69320","fullName":"Liquidation and
        receivership accounting service"},{"code":"3627","industryCode":"24219","fullName":"Machine
        manufacturing (including accounting, addressing, business, enveloping, letter
        folding, numbering, photocopying or duplicating)"},{"code":"7596","industryCode":"69629","fullName":"Lobbyist
        - ow[...]
- request:
    method: get
    uri: https://checkify.com.au/api/v1/business-activity?limit=3&search=accounting
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '20'
    body:
      encoding: ASCII-8BIT
      string: '{"status":"success","count":3,"activities":[{"code":"7535","industryCode":"69320","fullName":"Accounting
        service"},{"code":"7536","industryCode":"69320","fullName":"Assignee accounting
        service"},{"code":"7542","industryCode":"69320","fullName":"Liquidation and
        receivership accounting service"}]}'
  recorded_at: Sat, 05 Sep 2026 01:56:42 GMT
recorded_with: VCR 6.4.0
