---
http_interactions:
- request:
    method: get
    uri: https://checkify.com.au/api/v1/company-name?name=Bunnings%20Group%20Limited
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '21'
    body:
      encoding: ASCII-8BIT
      string: '{"name":"BUNNINGS GROUP LIMITED","availability":"Unavailable","shortDescription":"BUNNINGS
        GROUP LIMITED is unavailable.","objections":["IDENTICAL TO AN ALREADY REGISTERED
        CORPORATION - Australian Public Company BUNNINGS GROUP LIMITED ACN 008 672
        179"],"existingBusinessName":false}'
  recorded_at: Sat, 05 Sep 2026 01:56:39 GMT
recorded_with: VCR 6.4.0
