---
http_interactions:
- request:
    method: get
    uri: https://checkify.com.au/api/v1/email?email=person@example.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '25'
    body:
      encoding: ASCII-8BIT
      string: '{"email":"person@example.com","valid":true,"format":{"valid":true,"account":"person","domain":"example.com"},"dns":{"valid":true},"deliverable":false,"canConnectSmtp":false,"inboxFull":null,"disabled":null,"catchAll":null,"score":0.48,"free":true,"disposable":false,"role":false}'
  recorded_at: Sat, 05 Sep 2026 01:54:12 GMT
recorded_with: VCR 6.4.0
