---
http_interactions:
- request:
    method: get
    uri: https://checkify.com.au/api/v1/phone?phone=0412345678
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '24'
    body:
      encoding: ASCII-8BIT
      string: '{"phone":"+61412345678","phoneNational":"0412345678","phoneInternational":"+61412345678","valid":true,"country":"AU","type":"mobile","carrier":"Optus
        Mobile Pty Ltd","location":""}'
  recorded_at: Sat, 05 Sep 2026 01:54:16 GMT
recorded_with: VCR 6.4.0
