---
http_interactions:
- request:
    method: get
    uri: https://checkify.com.au/api/v1/director-id?director_id=036123456789010
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '26'
    body:
      encoding: ASCII-8BIT
      string: '{"directorId":"036123456789010","directorIdFormatted":"036 12345 67890
        10","valid":true,"notice":"Structural validity confirmed. This check does
        not perform a live ABRS registry lookup."}'
  recorded_at: Sat, 05 Sep 2026 01:54:09 GMT
recorded_with: VCR 6.4.0
