---
http_interactions:
- request:
    method: get
    uri: https://checkify.com.au/api/v1/sanctions-screening?birth_year=1950&country=AF&name=Mohammad%20Hassan
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '28'
    body:
      encoding: ASCII-8BIT
      string: '{"match":true,"results":[{"source":"uk","reference":"7172","name":"MOHAMMAD
        HASSAN AKHUND","type":"Individual","aliases":["\u0645\u062d\u0645\u062f \u062d\u0633\u0646
        \u0622\u062e\u0648\u0646\u062f"],"date_of_birth":"00\/00\/1946 (Pashmul village);
        00\/00\/1948 (Pashmul village); 00\/00\/1950 (Pashmul village); 00\/00\/1956
        (Pashmul village); 00\/00\/1958 (Pashmul village)","place_of_birth":"Pashmul
        village","citizenship":"AF","listing_information":"Afghanistan, Listed by:
        UN, Ref: AFG0006, UN Ref: TAi.002","committees":"Afghanistan","sanctions":{"targeted_financial_sanction":true,"travel_ban":false,"arms_embargo":false,"maritime_restriction":false},"confidence":0.848,"source_updated_at":"2026-06-03
        00:00:00"},{"source":"fr","reference":"2867","name":"AKHUND MOHAMMAD HASSAN","type":"Individual","aliases":[],"date_of_birth":"1955
        (Village de Pashmul, district de Panjwai, province de Kandahar); 1956; 1957;
        1958; 1945; 1946; 1947; 1948; 1949; 1950","place_of_birth":"Village de Pashmul,
        district de Panjwai, province de Kandahar","citizenship":"AF","listing_information":"d\u00e9cision
        du comit\u00e9 des sanctions des Nations unies du 25\/01\/20[...]
