---
http_interactions:
- request:
    method: get
    uri: https://checkify.com.au/api/v1/tfn?tfn=123456782
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '29'
    body:
      encoding: ASCII-8BIT
      string: '{"tfn":"123456782","tfnFormatted":"123 456 782","valid":true,"notice":"Structural
        validity confirmed. This check does not perform a live ATO registry lookup."}'
  recorded_at: Sat, 05 Sep 2026 01:54:01 GMT
recorded_with: VCR 6.4.0
