---
http_interactions:
- request:
    method: get
    uri: https://checkify.com.au/api/v1/autocomplete-details?id=CKNSW706066924
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '24'
    body:
      encoding: ASCII-8BIT
      string: '{"unit":"SHOP 1","level":null,"unitLevel":"SHOP 1","streetNumber":"1","streetName":"MACQUARIE","streetType":"STREET","street":"1
        MACQUARIE STREET","city":"SYDNEY","postcode":"2000","state":"NSW","stateFull":"New
        South Wales","country":"AU","countryFull":"Australia","latitude":-33.85932705,"longitude":151.21320051,"meshBlockCode":"MB2110741850000","buildingName":null}'
  recorded_at: Sat, 05 Sep 2026 01:58:54 GMT
recorded_with: VCR 6.4.0
