---
http_interactions:
- request:
    method: get
    uri: https://checkify.com.au/api/v1/autocomplete?query=1%20macquarie%20st%20sydney
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '28'
    body:
      encoding: ASCII-8BIT
      string: '{"CKNSW706066924":"SHOP <strong>1<\/strong> <strong>1<\/strong> <strong>MACQUARIE<\/strong>
        <strong>STREET<\/strong> <strong>SYDNEY<\/strong> NSW 2000","CKNSW718242343":"SE
        <strong>1<\/strong> L <strong>18<\/strong> <strong>1<\/strong> <strong>MACQUARIE<\/strong>
        PLACE <strong>SYDNEY<\/strong> NSW 2000","CKNSW719357845":"UNIT <strong>123<\/strong>
        L <strong>12<\/strong> <strong>123<\/strong> <strong>MACQUARIE<\/strong> <strong>STREET<\/strong>
        <strong>SYDNEY<\/strong> NSW 2000","CKNSW718169877":"SE <strong>1<\/strong>
        L 47 <strong>1<\/strong> <strong>MACQUARIE<\/strong> PLACE <strong>SYDNEY<\/strong>
        NSW 2000","CKNSW717819733":"SE <strong>1<\/strong> L 29 <strong>1<\/strong>
        <strong>MACQUARIE<\/strong> PLACE <strong>SYDNEY<\/strong> NSW 2000","CKNSW717819735":"SE
        <strong>1<\/strong> L 38 <strong>1<\/strong> <strong>MACQUARIE<\/strong> PLACE
        <strong>SYDNEY<\/strong> NSW 2000","CKNSW718543153":"SE <strong>1<\/strong>
        L <strong>10<\/strong> <strong>1<\/strong> <strong>MACQUARIE<\/strong> PLACE
        <strong>SYDNEY<\/strong> NSW 2000","CKNSW717819734":"SE <strong>1<\/strong>
        L 34 <strong>1<\/strong> <strong>MACQUARIE<\/strong> PLACE <strong>SYDNEY<\/strong>
        NSW 2000","CKNSW718665339":"SE <strong>1<\/strong> L 36 <strong>1<\/strong>
        <strong>MACQUARIE<\/strong> PLACE <strong>SYDNEY<\/strong> NSW 2000","CKNSW717479485":"SE
        <strong>1<\/strong> 8 <strong>MACQUARIE<\/strong> <strong>STREET<\/strong>
        <strong>SYDNEY<\/strong> NSW 2000"}'
  recorded_at: Sat, 05 Sep 2026 01:58:43 GMT
recorded_with: VCR 6.4.0
