---
http_interactions:
- request:
    method: get
    uri: https://checkify.com.au/api/v1/autocomplete-suburb?query=sydney
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '29'
    body:
      encoding: ASCII-8BIT
      string: '{"loc6045ce58c64d":"NORTH <strong>SYDNEY<\/strong> NSW 2060","loc4389d5b5e7f3":"<strong>SYDNEY<\/strong>
        OLYMPIC PARK NSW 2127","loc46e6625bb24d":"<strong>SYDNEY<\/strong> NSW 2000"}'
  recorded_at: Sat, 05 Sep 2026 01:58:39 GMT
recorded_with: VCR 6.4.0
