---
http_interactions:
- request:
    method: get
    uri: https://checkify.com.au/api/v1/autocomplete-suburb-details?id=loc6045ce58c64d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '26'
    body:
      encoding: ASCII-8BIT
      string: '{"city":"NORTH SYDNEY","postcode":"2060","state":"NSW","stateFull":"New
        South Wales","country":"AU","countryFull":"Australia"}'
  recorded_at: Sat, 05 Sep 2026 01:58:49 GMT
recorded_with: VCR 6.4.0
