---
http_interactions:
- request:
    method: get
    uri: https://checkify.com.au/api/v1/postcode?country=nz&postcode=1010
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '24'
    body:
      encoding: ASCII-8BIT
      string: '[{"city":"Auckland Central","region":"Auckland","postcode":"1010","state":null,"stateFull":null,"country":"NZ","countryFull":"New
        Zealand"},{"city":"Eden Terrace","region":"Auckland","postcode":"1010","state":null,"stateFull":null,"country":"NZ","countryFull":"New
        Zealand"},{"city":"Grafton","region":"Auckland","postcode":"1010","state":null,"stateFull":null,"country":"NZ","countryFull":"New
        Zealand"},{"city":"Grey Lynn","region":"Auckland","postcode":"1010","state":null,"stateFull":null,"country":"NZ","countryFull":"New
        Zealand"},{"city":"Judges Bay","region":null,"postcode":"1010","state":null,"stateFull":null,"country":"NZ","countryFull":"New
        Zealand"},{"city":"Mechanics Bay","region":"Auckland","postcode":"1010","state":null,"stateFull":null,"country":"NZ","countryFull":"New
        Zealand"},{"city":"Motutapu Island","region":"Auckland","postcode":"1010","state":null,"stateFull":null,"country":"NZ","countryFull":"New
        Zealand"},{"city":"Parnell","region":"Auckland","postcode":"1010","state":null,"stateFull":null,"country":"NZ","countryFull":"New
        Zealand"},{"city":"R\u0101kino Island","region":"Auckland","postcode":"1010","state":null,"stateFull":null,"country":"NZ","countryFull":"New
        Zealand"},{"city":"Saint Marys Bay","region":"Auckland","postcode":"1010","state":null,"stateFull":null,"country":"NZ","countryFull":"New
        Zealand"},{"city":"Westhaven","region":"Auckland","postcode":"1010","state":null,"stateFull":null,"country":"NZ","countryFull":"New
        Zealand"}]'
  recorded_at: Sat, 05 Sep 2026 01:56:27 GMT
recorded_with: VCR 6.4.0
