---
http_interactions:
- request:
    method: get
    uri: https://checkify.com.au/api/v1/reverse?country=nz&lat=-36.844&limit=2&lng=174.766&radius=500
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '25'
    body:
      encoding: ASCII-8BIT
      string: '[{"addressId":"NZ2426589","addressFull":"7A Queen Street, Auckland
        Central, Auckland","unit":null,"level":null,"streetNumber":"7A","streetName":"Queen","streetType":"Street","street":"7A
        Queen Street","city":"Auckland Central","postcode":"1010","state":null,"stateFull":null,"region":"Auckland","country":"NZ","countryFull":"New
        Zealand","latitude":-36.84402098,"longitude":174.7658786,"buildingName":null,"distanceMetres":11.1},{"addressId":"NZ2150076","addressFull":"15
        Customs Street West, Auckland Central, Auckland","unit":null,"level":null,"streetNumber":"15","streetName":"Customs","streetType":"Street","street":"15
        Customs Street West","city":"Auckland Central","postcode":"1010","state":null,"stateFull":null,"region":"Auckland","country":"NZ","countryFull":"New
        Zealand","latitude":-36.8442296,"longitude":174.7658072,"buildingName":null,"distanceMetres":30.7}]'
  recorded_at: Sat, 05 Sep 2026 01:56:23 GMT
recorded_with: VCR 6.4.0
