---
http_interactions:
- request:
    method: get
    uri: https://checkify.com.au/api/v1/autocomplete-suburb?country=nz&query=auckland
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '29'
    body:
      encoding: ASCII-8BIT
      string: '{"NZ116":"<strong>Auckland<\/strong> Central <strong>Auckland<\/strong>","NZ115":"<strong>Auckland<\/strong>
        Airport <strong>Auckland<\/strong>","NZ34":"Alfriston <strong>Auckland<\/strong>","NZ175":"Beach
        Haven <strong>Auckland<\/strong>","NZ171":"Bayswater <strong>Auckland<\/strong>","NZ124":"Avondale
        <strong>Auckland<\/strong>","NZ48":"Anawhata <strong>Auckland<\/strong>","NZ173":"Bayview
        <strong>Auckland<\/strong>","NZ28":"Albany Heights <strong>Auckland<\/strong>","NZ27":"Albany
        <strong>Auckland<\/strong>"}'
  recorded_at: Sat, 05 Sep 2026 01:56:08 GMT
- request:
    method: get
    uri: https://checkify.com.au/api/v1/autocomplete-suburb-details?country=nz&id=NZ116
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '28'
    body:
      encoding: ASCII-8BIT
      string: '{"city":"Auckland Central","postcode":null,"state":null,"stateFull":null,"region":"Auckland","country":"NZ","countryFull":"New
        Zealand"}'
  recorded_at: Sat, 05 Sep 2026 01:56:11 GMT
recorded_with: VCR 6.4.0
