---
http_interactions:
- request:
    method: get
    uri: https://checkify.com.au/api/v1/reverse?lat=-33.8688&lng=151.213&radius=200
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '22'
    body:
      encoding: ASCII-8BIT
      string: '[{"addressId":"CKNSW718846818","addressFull":"10A MACQUARIE STREET
        SYDNEY NSW 2000","unit":null,"level":null,"streetNumber":"10A","streetName":"MACQUARIE","streetType":"STREET","street":"10A
        MACQUARIE STREET","city":"SYDNEY","postcode":"2000","state":"NSW","stateFull":"New
        South Wales","country":"AU","countryFull":"Australia","latitude":-33.86908673,"longitude":151.21297016,"buildingName":null,"distanceMetres":31.9}]'
  recorded_at: Sat, 05 Sep 2026 01:59:17 GMT
recorded_with: VCR 6.4.0
