=begin
#Checkify API

#Australian and New Zealand address validation, business lookups, identity checks, and communication validation through a single REST interface.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.21.0

=end

require 'cgi'

module Checkify
  class BatchApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create bulk job
    # Submit a batch of records for asynchronous processing. Supports ABN, ACN, TFN, Director ID, Email, Phone, Reverse Geocode, Address Validation, and Sanctions Screening. Each row consumes the same units as a single API call. Business & Enterprise plans only. 
    # @param bulk_create_request [BulkCreateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [BulkJob]
    def create_bulk_job(bulk_create_request, opts = {})
      data, _status_code, _headers = create_bulk_job_with_http_info(bulk_create_request, opts)
      data
    end

    # Create bulk job
    # Submit a batch of records for asynchronous processing. Supports ABN, ACN, TFN, Director ID, Email, Phone, Reverse Geocode, Address Validation, and Sanctions Screening. Each row consumes the same units as a single API call. Business &amp; Enterprise plans only. 
    # @param bulk_create_request [BulkCreateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BulkJob, Integer, Hash)>] BulkJob data, response status code and response headers
    def create_bulk_job_with_http_info(bulk_create_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BatchApi.create_bulk_job ...'
      end
      # verify the required parameter 'bulk_create_request' is set
      if @api_client.config.client_side_validation && bulk_create_request.nil?
        fail ArgumentError, "Missing the required parameter 'bulk_create_request' when calling BatchApi.create_bulk_job"
      end
      # resource path
      local_var_path = '/bulk'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = header_params['Content-Type'] || @api_client.select_header_content_type(['application/json', 'multipart/form-data'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(bulk_create_request)

      # return_type
      return_type = opts[:debug_return_type] || 'BulkJob'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"BatchApi.create_bulk_job",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BatchApi#create_bulk_job\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Download bulk results
    # Download the completed bulk job results as CSV.
    # @param id [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [File]
    def download_bulk_results(id, opts = {})
      data, _status_code, _headers = download_bulk_results_with_http_info(id, opts)
      data
    end

    # Download bulk results
    # Download the completed bulk job results as CSV.
    # @param id [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(File, Integer, Hash)>] File data, response status code and response headers
    def download_bulk_results_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BatchApi.download_bulk_results ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling BatchApi.download_bulk_results"
      end
      # resource path
      local_var_path = '/bulk/{id}/download'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/csv', 'application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'File'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"BatchApi.download_bulk_results",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BatchApi#download_bulk_results\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get bulk job status
    # Check the status of a bulk processing job.
    # @param id [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [BulkJob]
    def get_bulk_job(id, opts = {})
      data, _status_code, _headers = get_bulk_job_with_http_info(id, opts)
      data
    end

    # Get bulk job status
    # Check the status of a bulk processing job.
    # @param id [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BulkJob, Integer, Hash)>] BulkJob data, response status code and response headers
    def get_bulk_job_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BatchApi.get_bulk_job ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling BatchApi.get_bulk_job"
      end
      # resource path
      local_var_path = '/bulk/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BulkJob'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"BatchApi.get_bulk_job",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BatchApi#get_bulk_job\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
