---
http_interactions:
- request:
    method: get
    uri: https://checkify.com.au/api/v1/account
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '25'
    body:
      encoding: UTF-8
      string: '{"plan":"free","plan_name":"Free","status":"free","cancels_at":null,"units_used":0,"units_limit":0,"units_remaining":0,"period_start":"1970-01-01","period_end":"1970-01-01","usage":{}}'
  recorded_at: Sat, 05 Sep 2026 01:56:05 GMT
recorded_with: VCR 6.4.0
